In [ ]:
#Exercise 1: Create a Jupyter Notebook
#create a notebook called "DataScienceEcosystem"

In [ ]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. scala
4. java

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn
2. NumPy
3. MatPlotLib
4. Scipy

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools | 
| -------------| 
| pandas |
| hadoop |
| spark |

In [ ]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
3+9-6+3

9

In [7]:
8*700/100

56.0

In [ ]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [ ]:
#Exercise 10 - Insert a markdown cell to list Objectives

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
- List popular languages for Data Science
- Create a code cell to convert minutes to hours
- Create a markdown cell introducing arithmetic expression examples
- Create markdown cell with title of the notebook

In [ ]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
kamlesh suryawanshi

In [ ]:
#Exercise 12 - Share your notebook through GitHub

In [ ]:
#Exercise 13 -Take a screenshot of the first page of the notebook and save it as 1-notebook.png